DB_CONTAINER_NAME=nestest-db
POSTGRES_USER=nodejs
POSTGRES_PASSWORD=123456
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=db
POSTGRES_HOST_PORT=5433

APP_CONTAINER_NAME=nestest-backend
APP_PORT=3000
APP_URL=http://localhost:3000

NODE_ENV=production